<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	<script defer src="{{ url_for('static', filename='script.js') }}"></script>
	<script defer src="{{ url_for('static', filename='gamelog.js') }}"></script>
	<title>Minesweeper</title>
</head>

<body>
	<table>
		{% for row in board %}
			{% set row_i = loop.index0 %}
			<tr data-row="{{ loop.index0 }}">
				{% for cell in row %}
					{% set col_i = loop.index0 %}
					<td data-row="{{ row_i }}" data-col="{{ col_i }}"><button>_</button></td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	{% include "gamelog.html" %}
</body>
</html>
